a .language-plaintext {
  color: #ffc107;
}

.language-plaintext {
  padding: 0 .25em;
  color: #ffebaf;
  background-color: #141b1f;
}

.highlighter-rouge {
  line-height: 1;

  pre {
    padding: .5em;
    overflow-x: auto;
    overflow-y: hidden;

    @include media-query($on-laptop) {
      padding: 1em;
    }
  }
}

div.highlighter-rouge {
  @include media-query($on-laptop) {
    margin-left: -2em;
    margin-right: -2em;
  }
}
