a .language-plaintext {
  color: #ffc107;
}

.language-plaintext {
  padding: 0 .25em;
  color: #ffebaf;
  background-color: #141b1f;
}

.highlighter-rouge {
  &:before {
    position: absolute;
    padding: 0 0.5em;
    font-size: .65em;
    text-transform: uppercase;
    background-color: #2f3e48;
  }

  &.language-diff:before {
    content: "diff";
  }

  &.language-bash:before {
    content: "bash";
  }

  &.language-javascript:before {
    content: "javascript";
  }

  &.language-typescript:before {
    content: "typescript";
  }

  pre {
    padding: .5em;
    overflow-x: auto;
    overflow-y: hidden;

    @include media-query($on-laptop) {
      padding: 1em;
    }
  }
}

div.highlighter-rouge {
  @include media-query($on-laptop) {
    margin-left: -2em;
    margin-right: -2em;
  }
}

.language-bash .highlight {
  .nv {
    color: #ccc;
  }
}
